extends layout

block content

    #wrapper

        h2 Ratings List
        #ratingslist
            table
                thead
                    th Restaurant Name
                    th Rating
                    th Delete
                tbody

        h2 Add Rating
        #addRating
            fieldset
                input#inputRestaurantName(type='text', placeholder='Restaurant Name')
                input#inputRating(type='text', placeholder='Rating')
                button#btnAddRating Add Rating

