extends layout

block content

    // Wrapper
    #wrapper

        h2 Ratings List
        #ratingslist
            table
                thead
                    th Restaurant Name
                    th Rating
                    th Delete
                tbody

