body {
  padding: 5%;
  font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
}

h2 {
	margin: 0 0 .5em 0;
}

a {
  color: #00B7FF;
}

a:hover {
	color: #4A777A;
}

#add-form-container {
	margin-top: 1%; 
}

table {
	border-spacing: 1px;
	background: #CCC;
}

table th {
	background: #EEE;
	font-weight: 600;
	padding: 10px 20px;
	text-align: center;
}

table td {
	background: #FFF;
	padding: 5px 10px;
	text-align: center;
}